@model Progra1BD.Models.Beneficiarie

ViewData["Title"] = "Añadir Beneficiarios";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Banco Verdun</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Transacciones
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="StateAccount">Estado de Cuenta</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="Beneficiaries">Beneficiarios</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="ObjetiveAccount">Cuenta Objetivo</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="About" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Login" asp-action="Login">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger
                   <strong>Error!</strong> danger">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
<div>
    <h3>Ingrese los datos</h3>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Transaction" asp-action="UpdateBeneficiaries">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <input asp-for="ID" class="form-control" placeholder="ID"/>
                    <span asp-validation-for="ID" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <input asp-for="Name" class="form-control" placeholder="Nombre"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fas fa-at"></i>
                    <input asp-for="Email" class="form-control" placeholder="Correo Electronico"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fas fa-id-card"></i>
                    <select asp-for="TypeDocID" class="form-control">
                        <option value="">Tipo Identificacion</option>
                        <option value=1>Cedula</option>
                        <option value=2>Pasaporte</option>
                        <option value=3>Extranjero</option>
                    </select>
                    <span asp-validation-for="TypeDocID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fas fa-id-card"></i>
                    <input asp-for="DocID" type="tel"class="form-control" placeholder="Documento de Identificacion"/>
                    <span asp-validation-for="DocID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fas fa-user-friends"></i>
                    <select asp-for="TipoParentesco" class="form-control">
                        <option value="">Tipo Parentesco</option>
                        <option value=1>Padre</option>
                        <option value=2>Madre</option>
                        <option value=3>Conyuge</option>
                        <option value=4>Hermano</option>
                        <option value=5>Hermana</option>
                        <option value=6>Hijo</option>
                        <option value=7>Hija</option>
                    </select>
                    <span asp-validation-for="TipoParentesco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fas fa-percentage"></i>
                    <label asp-for="Porcentaje" class="control-label"></label>
                    <input asp-for="Porcentaje" class="form-control" placeholder="Porcentaje" min="0" max="100"/>
                    <span asp-validation-for="Porcentaje" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fas fa-phone"></i>
                    <input asp-for="Mobile1" type="tel"class="form-control" placeholder="Numero de Telefono 1" maxlength="8"/>
                    <span asp-validation-for="Mobile1" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <i class="fas fa-phone"></i>
                    <input asp-for="Mobile2" type="tel" class="form-control" placeholder="Numero de Telefono 2" maxlength="8"/>
                    <span asp-validation-for="Mobile2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fas fa-calendar-week"></i>
                    <input asp-for="Date" min="1960-02-06" max="2002-03-05" type="Date" class="form-control"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>